.dashboard__area {
  background: white;
  border-radius: 20px;
  padding: 10px 15px;
}

.card {
  border: none;
}

.dashboard__icon {
  width: 70px;
}

.dashboard__main-img {
  width: 100% !important;
  height: 140px !important;
}

.dashboard__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.package__contents {
  display: flex;
  justify-content: space-between;
}

.package__contents-btn button {
  background: linear-gradient(45deg, #0e1c1d 80%, #47a07b);
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.dashboard__card-img {
  position: relative;
}

.dashboard__content {
  padding: 15px 10px 0px 10px;
  display: flex;
  align-items: baseline;
}

.dashboard-search {
  border-radius: 25px !important;
}

input.form-control.dashboard-search.p-2 {
  padding: 14px !important;
}
.dashboard-search:focus {
  border-color: #2db159;
  outline: 0;
  box-shadow: none;
}

.dashboard__global__btn {
  padding: 10px 40px;
  border-radius: 35px;
  background-image: linear-gradient(45deg, #47a07b, #285a44);
  color: white;
  border: none;
  font-size: 14px;
}
.dashboard__global__btn:focus {
  outline: 0;
  border: none;
}

.dashboard__status {
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  padding: 10px;
}
.dashboard__status-img {
  display: flex;
  align-items: center;
}

.dashboard__status-result-area {
  text-align: left;
  padding: 0 5px 0 10px;
}

img.card-img-top {
  height: 200px;
}
.package__name {
  font-size: 11px;
}

span.price {
  font-size: 30px;
  font-weight: bold;
  color: #ffac00;
}

.sqa__table-head {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#47a07b),
    to(#285a44)
  );
  background-image: linear-gradient(#47a07b, #285a44);
  border-bottom: none;
  color: #fff;
}

.sqa__table-title {
  color: #2db159;
  padding: 5px 5px;
}

.sqa__table-body {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sqa__viewMore-btn {
  margin: 0 15px;
}

.sqa__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0 10px 0;
  color: #2db159;
}

.sqa__btn:focus {
  outline: none;
}

.dashboard__content {
  width: 100%;
  background: #fff;
  margin: 20px 0 0 0;
  padding: 20px 0;
  border-radius: 25px 25px 0 0;
}

th.sqa__customers {
  background: none !important;
  color: #2db159 !important;
  margin: 0;
  padding: 0;
}

.sqa__customer-typo {
  margin: 0;
}

.table-responsive.sqa__table {
  background: white;
  border-radius: 0 0 25px 25px;
  height: 500px;
  overflow-x: auto;
  overflow-y: scroll;
}

.table-responsive.sqa__table::-webkit-scrollbar {
  overflow-x: scroll;
  display: none;
}

table.sqa__table-data {
  width: 100%;
}

table,
th,
td {
  padding: 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th:nth-child(1) {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#47a07b),
    to(#285a44)
  );
  background-image: linear-gradient(#47a07b, #285a44);
  color: white;
  padding-left: 20px;
}

th:nth-child(2) {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#47a07b),
    to(#285a44)
  );
  background-image: linear-gradient(#47a07b, #285a44);
  color: white;
  text-align: left;
}

th:nth-child(3) {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#47a07b),
    to(#285a44)
  );
  background-image: linear-gradient(#47a07b, #285a44);
  text-align: center;
  color: white;
}

th:nth-child(4) {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#47a07b),
    to(#285a44)
  );
  background-image: linear-gradient(#47a07b, #285a44);
  text-align: center;
  color: white;
}

td:nth-child(1) {
  padding-left: 20px;
}

td:nth-child(2) {
  text-align: left;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dashboard__calender-icon {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  table.sqa__table-data {
    width: 800px;
  }
  .dashboard__content {
    padding: 20px 0;
  }
  .sqa__viewMore-btn {
    width: 800px;
  }

  .dashboard__sm-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dashboard__calender-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 1199.98px) {
  .dashboard__icon {
    width: 40px;
  }
  span.price {
    font-size: 20px;
  }
}
