body {
  font-family: "Poppins", sans-serif im !important;
}

a.nav-link.sqa__navigation-item {
  margin: 10px;
}

.mboile__nav {
  background: #0e1c1d;
}

span.sqa__navigation-item-span {
  color: white;
  margin-left: 5px;
}

span.sqa__navigation-item-sidebar-span {
  color: white;
  margin-left: 5px;
}

.sidebar__nav {
  padding: 0;
  text-align: center;
}

.sidebar {
  background-image: linear-gradient(#0e1c1d, #000);
}

a.nav-link.sqa__navigation-item-sidebar:hover {
  background-color: #2e2e2e;
  border-left: 4px solid #1aae55;
  border-radius: 0px;
  transition: 0.5s;
}
