body {
  font-family: "Poppins", sans-serif;
  background: #e7f4ed;
}

button.navbar-toggler {
  background: white !important;
}
.form__body {
  padding: 20px;
  border-radius: 10px;
}

a.nav-link.sqa__navigation-item {
  margin: 10px;
}

.mobile__nav {
  display: none;
  background: #0e1c1d;
}

span.sqa__navigation-item-span {
  color: white;
  margin-left: 5px;
}

span.sqa__navigation-item-sidebar-span {
  color: white;
  margin-left: 5px;
}

.sidebar__nav {
  padding: 0;
  text-align: center;
}

.sidebar {
  background-image: url("assets/Rectangle 1.png");
  /* position: fixed; */
  /* height: 100vh; */
}

.form__area {
  padding: 25px;
}

.form__header {
  height: 70px;
  background-image: linear-gradient(45deg, #0e1c1d 80%, #47a07b);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.add__form {
  background: white;
}

a.nav-link.sqa__navigation-item-sidebar:hover {
  background-color: #2e2e2e;
  border-left: 4px solid #1aae55;
  border-radius: 0px;
  transition: 0.5s;
}

.sidebar__container {
  display: flex;
}

.billings {
  width: 80%;
}

.billing__breadcrumb {
  padding: 25px 35px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0;
  /* position: fixed; */
  /* width: 80%; */
}
.billings__active {
  color: #0f654e;
}

.add__information__btn {
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #0e1c1d 50%, #47a07b);
  color: white;
  border: none;
}

.add__information__btn:focus {
  outline: 0;
  border: none;
}

.sidebar {
  width: 20%;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
  .billings {
    width: 100%;
  }
  .mobile__nav {
    display: block;
  }
}
