.account__area {
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.card {
  border: none;
}

.account__card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.package__contents {
  display: flex;
  justify-content: space-between;
}

.package__contents-btn button {
  background: linear-gradient(45deg, #0e1c1d 80%, #47a07b);
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.account__card-img {
  position: relative;
}

.account__status {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

img.card-img-top {
  height: 200px;
}
.package__name {
  font-size: 11px;
}

span.price {
  font-size: 30px;
  font-weight: bold;
  color: #ffac00;
}

@media (max-width: 767.98px) {
  .account__area {
    height: 100%;
  }
}
