.form__body {
  padding: 20px;
  border-radius: 10px;
  background: white;
}

.form__header {
  height: 70px;
  background-image: linear-gradient(45deg, #0e1c1d 80%, #47a07b);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.add__form {
  background: white;
}

.add__information__btn {
  padding: 15px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #0e1c1d 50%, #47a07b);
  color: white;
  border: none;
}

.add__information__btn:focus {
  outline: 0;
  border: none;
}
.add__info__img {
  margin-right: 5px;
}

.profile__setting-main-area {
  display: flex;
  justify-content: center;
}
